.cards {
  padding: 16px 0;
}

.cards > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

.cards > ul > li {
  background-color: var(--background-color);
}

.cards > ul > li h1,
.cards > ul > li h2,
.cards > ul > li h3 {
  font-family: rwe-medium;
}

.cards .cards-card-body {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.cards .cards-card-body p {
  margin: 0;
}

.cards .cards-card-image {
  line-height: 0;
}

.cards > ul > li img {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
}

.cards .paragraphs-wrapper {
  display: grid;
  grid-template-rows: 0fr;
  transition: all 300ms ease-in-out;
  overflow: hidden;
}

.cards .paragraphs-wrapper * {
  overflow: hidden;
}

.cards .show .paragraphs-wrapper {
  grid-template-rows: 1fr;
}

.cards .show .paragraphs-wrapper + a span:first-child::before {
  display: inline-block;
  transform: rotate(180deg);
}

.cards .paragraphs-wrapper + a {
  color: #00a19f;
  cursor: pointer;
}

.cards .paragraphs-wrapper + a:hover,
.cards .paragraphs-wrapper + a:active {
  text-decoration: none;
}

/* with-gradient variant */
.cards.with-gradient .cards-card-body {
  height: 100%;
  justify-content: space-between;
}

.cards.with-gradient li {
  padding: 16px;
  background-color: #e8e8e4;
  transition: transform 300ms ease-in-out;
}

.cards.with-gradient li:hover {
  transform: scale(1.05);
}

.cards.with-gradient li:nth-child(2n + 1) {
  background: url("/images/combined-energy.png"),
    linear-gradient(225deg, #00a19f, #1d4477);
  background-size: 240px 200px, auto;
  background-repeat: no-repeat, repeat;
  background-position: 100% 100%, 0 0;
  color: var(--white);
}

.cards.with-gradient li p:has(picture) {
  margin: -16px -16px 0;
}

.cards.with-gradient .cards-card-body a:any-link {
  background-color: transparent;
  color: #00a19f;
  border-color: #00a19f;
}

.cards.with-gradient li:nth-child(2n + 1) a:any-link {
  color: var(--white);
}

.cards.with-gradient .cards-card-body a:any-link:hover {
  background-color: #00a19f;
  color: var(--white);
}

/* with-gradient-version-2 */
/* stylelint-disable-next-line no-descending-specificity */
.cards.with-gradient-version-2 li {
  aspect-ratio: 3/2;
  background-color: var(--white);
  padding: 16px;
  transition: transform 300ms ease-in-out;
}

.cards.with-gradient-version-2 li:hover {
  transform: scale(1.05);
}

.cards.with-gradient-version-2 li:nth-child(2n + 1) {
  background: url("/images/combined-energy.png"),
    linear-gradient(225deg, #00a19f, #1d4477);
  background-size: 240px 200px, auto;
  background-repeat: no-repeat, repeat;
  background-position: 100% 100%, 0 0;
  color: var(--white);
}

.cards.with-gradient-version-2 .cards-card-body {
  height: 100%;
  justify-content: space-between;
}

.cards.with-gradient-version-2 .cards-card-body h3 + p {
  flex-grow: 1;
}

/* stylelint-disable-next-line no-descending-specificity */
.cards.with-gradient-version-2 .cards-card-body a:any-link {
  color: var(--white);
}

.cards.with-gradient-version-2 .cards-card-body a:any-link:hover,
.cards.with-gradient-version-2 .cards-card-body a:any-link:active {
  text-decoration: none;
}

/* stylelint-disable-next-line no-descending-specificity */
.cards.with-gradient-version-2 li:nth-child(2n) a:any-link {
  color: #00a19f;
}

.cards.with-gradient-version-2 .cards-card-body a span {
  margin-left: 4px;
  font-size: 15px;
}
