.columns > div {
  display: flex;
  flex-direction: column;
}

.columns img {
  width: 100%;
}

.columns > div > div {
  order: 1;
}

.columns > div > .columns-img-col {
  order: 0;
}

.columns > div > .columns-img-col img {
  display: block;
}

@media (width >= 900px) {
  .columns > div {
    align-items: flex-start;
    flex-direction: unset;
    gap: 24px;
  }

  .columns > div > div {
    flex: 1;
    order: unset;
  }
}

.columns.offices h2 + h3 {
  margin-top: 16px;
}

.columns.offices h3 + p {
  margin-top: 0;
}

.columns.offices a:not(.button) {
  display: flex;
  align-items: center;
}

.columns.offices a:not(.button) span {
  height: 16px;
  width: 16px;
}