.facts {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 32px;
  margin-top: 16px;
}

.facts > div {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 16px;
}

.facts > div > div {
  flex: 1;
  text-align: center;
  background-color: var(--white);
  padding: 16px;
}

.facts .facts-value {
  font-size: 24px;
  line-height: 28px;
  font-family: rwe-bold, Arial, Helvetica, sans-serif;
  color: #00a19f;
}

.facts p {
  margin: 0;
  font-family: rwe-medium, Arial, Helvetica, sans-serif;
}
