.hero-container .hero-wrapper {
  max-width: unset;
  padding: 0;
  color: var(--white);
}

.hero {
  position: relative;
  height: calc(100vh - var(--nav-height));
}

.hero > div {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 16px;
}

.hero > div > div {
  margin: auto;
  padding: 0 24px;
  width: 1170px;
}

.hero picture {
  position: absolute;
  z-index: -1;
  inset: 0;
  object-fit: cover;
  box-sizing: border-box;
}

.hero img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
