@font-face {
  font-family: rwe-light;
  src: url("../fonts/RWESans-Light.woff2") format("woff2"),
    url("../fonts/RWESans-Light.eot") format("eot"),
    url("../fonts/RWESans-Light.woff") format("woff"),
    url("../fonts/RWEWEB-Light.svg") format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: rwe-regular;
  src: url("../fonts/RWESans-Regular.woff2") format("woff2"),
    url("../fonts/RWESans-Regular.woff") format("woff"),
    url("../fonts/RWESans-Regular.eot") format("eot"),
    url("../fonts/RWEWEB-Regular.svg") format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: rwe-medium;
  src: url("../fonts/RWESans-Medium.woff2") format("woff2"),
    url("../fonts/RWESans-Medium.woff") format("woff"),
    url("../fonts/RWESans-Medium.eot") format("eot"),
    url("../fonts/RWEWEB-Medium.svg") format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: rwe-bold;
  src: url("../fonts/RWESans-Bold.woff2") format("woff2"),
    url("../fonts/RWESans-Bold.woff") format("woff"),
    url("../fonts/RWESans-Bold.eot") format("eot"),
    url("../fonts/RWEWEB-Bold.svg") format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: rwe-iconfont;
  src: url("../fonts/rwe-iconfont.eot?v=3.13.0");
  src: url("../fonts/rwe-iconfont.woff?v=3.13.0") format("woff"),
    url("../fonts/rwe-iconfont.eot?#iefix&v=3.13.0") format("eot"),
    url("../fonts/rwe-iconfont.ttf?v=3.13.0") format("truetype"),
    url("../fonts/rwe-iconfont.svg#rwe-iconfont&v=3.13.0") format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "RWE_Icon_Font";
  src: url("../fonts/RWE_Icon_Font.eot?v=1.1") format("embedded-opentype"),
    url("../fonts/RWE_Icon_Font.ttf?v=1.1") format("truetype"),
    url("../fonts/RWE_Icon_Font.woff?v=1.1") format("woff"),
    url("../fonts/RWE_Icon_Font.svg?v=1.1#RWE_Icon_Font") format("svg");
  font-weight: 400;
  font-style: normal;
}
